<div class="header">
    <mat-icon [routerLink]="'/'">home</mat-icon>
    <span>OBSERVE PRESENT</span>
</div>

<div class="container">
    <div class="selection-tab">
        <mat-form-field class="custom-form-control">
            <mat-label>Select Factory</mat-label>
            <mat-select>
                <mat-option [value]="'Factory 1'">Factory 1</mat-option>
                <mat-option [value]="'Factory 2'">Factory 2</mat-option>
                <mat-option [value]="'Factory 3'">Factory 3</mat-option>
                <mat-option [value]="'Factory 4'">Factory 4</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select Floor</mat-label>
            <mat-select>
                <mat-option [value]="'Floor 1'">Floor 1</mat-option>
                <mat-option [value]="'Floor 2'">Floor 2</mat-option>
                <mat-option [value]="'Floor 3'">Floor 3</mat-option>
                <mat-option [value]="'Floor 4'">Floor 4</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-button color="primary" (click)="onDateSelection()">Submit</button>
    </div>

    <div class="view-container">
        <div class="media-player-container">
            <div class="media-player">
                                <media-player [events]="eventsSubject.asObservable()"></media-player>
            </div>

            <div class="player-control">
                <mat-slider #slider [min]="min" [disabled]="isDisabled" [max]="max" [step]="step" [value]="value" showTickMarks
                    discrete>
                    <input matSliderThumb>
                </mat-slider>
            </div>
        </div>

        <div class="action-list">
            <span>Action List</span>

            <mat-selection-list #list [multiple]="false">
                <mat-list-option class="options" *ngFor="let list of action_list" [value]="list">
                    {{list}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>

    <div class="selection-content">
        {{mediaPlayerPosition(slider.value)}}
    </div>
</div>