<div class="header">
    <mat-icon [routerLink]="'/'">home</mat-icon>
    <span>EXPLORE FUTURE</span>
</div>

<div class="container">
    <div class="date-picker-content">
        <mat-form-field class="custom-form-control">
            <mat-label>Select WorkShop</mat-label>
            <mat-select>
                <mat-option [value]="'WorkShop 1'">WorkShop 1</mat-option>
                <mat-option [value]="'WorkShop 2'">WorkShop 2</mat-option>
                <mat-option [value]="'WorkShop 3'">WorkShop 3</mat-option>
                <mat-option [value]="'WorkShop 4'">WorkShop 4</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Select Floor</mat-label>
            <mat-select>
                <mat-option [value]="'Floor 1'">Floor 1</mat-option>
                <mat-option [value]="'Floor 2'">Floor 2</mat-option>
                <mat-option [value]="'Floor 3'">Floor 3</mat-option>
                <mat-option [value]="'Floor 4'">Floor 4</mat-option>
            </mat-select>
        </mat-form-field>
        <span class="picker-label"> From Date : <input class="date-picker" type="datetime-local"
                placeholder="start date" [(ngModel)]="fromDate"></span>
        <span class="picker-label"> To Date : <input class="date-picker" type="datetime-local" placeholder="start date"
                [(ngModel)]="toDate"></span>
        <button mat-button color="primary" (click)="onDateSelection()">Submit</button>
    </div>

    <div class="error" *ngIf="dateError" class="date-error error">
        {{dateError}}
    </div>

    <div class="view-container">
        <div class="media-player-container">
            <div class="media-player">
                <media-player [events]="eventsSubject.asObservable()"></media-player>

            </div>

            <div class="player-control">
                <mat-slider #slider [min]="min" [disabled]="isDisabled" [value]="value" [max]="max" [step]="step" showTickMarks
                    discrete>
                    <input matSliderThumb>
                </mat-slider>
            </div>
            <div class="selection-content">
                {{mediaPlayerPosition(slider.value)}}
            </div>
        </div>

        <div class="action-list">
            <span>Future Insights</span>

            <mat-selection-list #list [multiple]="false">
                <mat-list-option class="options" *ngFor="let list of action_list" [value]="list">
                    {{list}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </div>
</div>