<span class="header-time">TIME TRAVEL</span>

<section class="space">
    <div class="stars">
        <div class="stars-back"></div>
        <div class="stars-middle"></div>
        <div class="stars-front"></div>
    </div>
    <div class="container">
        <div class="rocket past" [routerLink]="'/past'">
            <span class="label">
                PAST
            </span>
            <div class="fuselage">
                <div class="nose"></div>
                <div class="head">
                    <span class="window"></span>
                </div>
                <div class="neck"></div>
                <div class="rocket-body">
                </div>
                <div class="reactor"></div>
                <div class="fire">
                    <div class="spark1"></div>
                    <div class="spark2"></div>
                    <div class="spark3"></div>
                    <div class="spark4"></div>
                    <div class="spark5"></div>
                    <div class="spark6"></div>
                </div>
            </div>
            <div class="left-fin"></div>
            <div class="left-fin-end"></div>
            <div class="right-fin"></div>
            <div class="right-fin-end"></div>
        </div>
        <main class='orbit' [routerLink]="'/present'">
            <span class="label">
                PRESENT
            </span>
            <div class='orbit-earth'>
                <span class='orbit-land-1'></span>
                <span class='orbit-land-2'></span>
                <span class='orbit-land-3'></span>
            </div>
            <div class='orbit-moon'></div>
        </main>
        <div class="rocket future" [routerLink]="'/future'">
            <span class="label">
                FUTURE
            </span>
            <div class="fuselage">
                <div class="nose"></div>
                <div class="head">
                    <span class="window"></span>
                </div>
                <div class="neck"></div>
                <div class="rocket-body"></div>
                <div class="reactor"></div>
                <div class="fire">
                    <div class="spark1"></div>
                    <div class="spark2"></div>
                    <div class="spark3"></div>
                    <div class="spark4"></div>
                    <div class="spark5"></div>
                    <div class="spark6"></div>
                </div>
            </div>
            <div class="left-fin"></div>
            <div class="left-fin-end"></div>
            <div class="right-fin"></div>
            <div class="right-fin-end"></div>
        </div>
    </div>




</section>